<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__container"><a class="header__logo" href="index.html#aboutPage">
              <svg class="icon logo">
                <use xlink:href="#logo"></use>
              </svg></a></div>
      <div class="header__container"><a class="header__burger" href="#">
              <svg class="icon burger">
                <use xlink:href="#burger"></use>
              </svg></a></div>
      <ul class="header__nav" id="menu">
        <div class="header__inner header__inner--nav">
          <div class="header__container"><a class="header__logo" href="#aboutPage">
                  <svg class="icon logo">
                    <use xlink:href="#logo"></use>
                  </svg></a></div>
          <div class="header__container"><a class="header__close" href="#">
                  <svg class="icon close">
                    <use xlink:href="#close"></use>
                  </svg></a></div>
        </div>
        <li class="nav__item" data-menuanchor="aboutPage"><a href="#aboutPage" title="About Us">About Us</a></li>
        <li class="nav__item" data-menuanchor="worksPage"><a href="#worksPage" title="Our Works">Our Works</a></li>
        <li class="nav__item" data-menuanchor="processPage"><a href="#processPage" title="Process">Process</a></li>
        <li class="nav__item" data-menuanchor="pricingPage"><a href="#pricingPage" title="Pricing">Pricing</a></li>
        <li class="nav__item" data-menuanchor="contactsPage"><a href="#contactsPage" title="Contacts">Contacts</a></li>
      </ul>
    </div>
  </div>
</header>
